<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Listagem de Abastecimentos</h2><br><br>
    <% abastecimentos.forEach(function(abastecimento){ %>
        Tipo de Combustível: <%= abastecimento.tipoCombustivel %><br>
        Data: <%= abastecimento.data %><br>
        Hora: <%= abastecimento.hora %><br>
        Valor: <%= abastecimento.valor %> <br>
        <a href="/detalhar-abastecimento/<%= abastecimento.data %>/<%= abastecimento.hora %>"><input type="button" value="Detalhar"></a> 
        <form action="/excluir-abastecimento/<%= abastecimento.data %>/<%= abastecimento.hora %>" method="post"><input type="submit" value="Excluir"></form> <br><br> 
    <% }) %>
</body>
</html>
